@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto';
}

:root{
    
}
.avatar{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
body, html{
    height:100%;
    margin: 0;
    min-width: 900px;
}
span{
    font-weight: 600;
}

.container{
    height:100%;
    text-align: center;
    /* padding:16px; */
    color: white;
    display:grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    gap:15px;
}
.container div{
    padding: 10px;
}
/* top-right */
.top-head{
    gap: 15px;
    display:flex; 
}
.next-to-avatar{
    text-align: left;
}
.top-head > input{
    width: clamp(400px, 50%, 1000px);
    height:1.5rem;
    border-radius: 10px;
    border-color: #cbd5e1;
    background-color: #cbd5e1;
    border-width: 0;
    
}
.top-head > svg{
    min-width:24px;
    max-width: 24px;
}
.header{
    grid-column: 2/4;
    background-color: blue;
}
/* left side */
.title{
    
    padding-top:0 !important;
    gap:15px;
    display: flex;
    font-size: 28px;
    align-items: center;
    margin-left: 5px;
    /* justify-content: center; */
}
.sidebar{
    grid-area:1/1/4/1 ;
    background-color: #22d3ee;
    padding-left: 0 !important;
}
.sidebar > ul{
    flex-direction: column;
}
.sidebar > ul,li{
    font-size: 20px;
    /* padding-left: 20px; */
    display:flex;
    grid-template-columns: 0.2fr 1fr;
    /* justify-items: start; */
    gap: 20px;
}
.top-items{
    margin-top:3rem;
}
.bot-items{
    margin-top:5rem;
}
/* articles */
.projects{
    grid-row:2/4;
    background-color: green;
}

/* right-bottom */
.trending{
    background-color: rgb(0, 240, 252);
}

/* right-middle */
.annoucements{
    background-color:purple;
}