@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto';
}

:root{
    --header-font-color:black;
    --font-color: white;
    --sidebar-color: #1d4ed8;
    --header-color:  white;
    --projects-color:  green;
    --annoucements-color: purple;
    --background-color: #cbd5e1;
    --trending-color: rgb(0, 240, 252);
}
.avatar{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
body, html{
    height:100%;
    margin: 0;
    background-color: var(--background-color);
    min-width: 1070px;
}
span{
    font-weight: 600;
}
svg{
    cursor: pointer;
}

.container{
    height:100vh;
    text-align: center;
    /* padding:16px; */
    color: var(--font-color);
    display:grid;
    grid-template-columns: 1.2fr 4fr 2fr;
    grid-template-rows: repeat (3, auto);
    gap:15px 0px;
}
.container div{
    padding: 10px;
}
/* top-right */
.top-head, .top-avatar, .top-input{
    gap: 15px;
    padding-top: 0px !important;
    display:flex; 
    align-items: center;
}
.top-head{
    justify-content: space-between;
}

.top-input > input{
    width: max(510px, 45vw);
    height:1.5rem;
    border-radius: 10px;
    border-color: var(--background-color);
    background-color: var(--background-color);
    border-width: 0;
    
}
.header svg{
    min-width:24px;
    max-width: 24px;
}
.top-bottom{
    display:flex;
    gap:10px;
    align-items: center;
    justify-content: space-between;
}
.top-avatar{
    gap:20px;
}
.next-to-avatar{
    text-align: left;
}
.top-buttons{
    display:flex;
    gap:30px;
    
}
.head-but{
    height:40px;
    width:100px;
    border-radius: 20px;
    background-color: var(--sidebar-color);
    color:var(--font-color);
    font-weight: 600;
    border-width: 0;
    cursor:pointer;
}
.header{
    padding-bottom: 0 !important;
    color: var(--header-font-color);
    padding-right: 40px !important;
    grid-column: 2/4;
    background-color: var(--header-color);
    position: sticky;
    top:0;
}
/* left side */
.title{
    cursor: pointer;
    padding-top:0 !important;
    gap:15px;
    display: flex;
    font-size: 28px;
    align-items: center;
    margin-left: 5px;
    /* justify-content: center; */
}
.sidebar{
    grid-area:1/1/4/1 ;
    height: 100%;
    background-color: var(--sidebar-color);
    padding-left: 0 !important;
}
#sticky-sidebar {
    position: sticky;
    top: 10px;
    
}
#sticky-sidebar > ul{
    flex-direction: column;
}
#sticky-sidebar > ul,li{
    font-size: 20px;
    /* padding-left: 20px; */
    display:flex;
    grid-template-columns: 0.2fr 1fr;
    /* justify-items: start; */
    gap: 20px;
}
li > span{
    cursor: pointer;
}
.top-items{
    margin-top:3rem;
}
.bot-items{
    margin-top:5rem;
}
/* articles */
.projects{
    grid-row:2/4;
    background-color: var(--background-color);
}
.projects-cont{
    text-align: left;
    display:grid;
    gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row:2/4;
    background-color: var(--background-color);
}
.projects > p{
    color: var(--header-font-color);
    font-weight: 500;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 0;
    margin-top: 0;
}
.project-item{
    border: 2px solid black;
    border-radius: 20px;
    background-color: var(--header-color);
    color: var(--header-font-color);
}

/* right-bottom */
.trending{
    background-color: var(--trending-color);
}

/* right-middle */
.annoucements{
    background-color:var(--annoucements-color);
}